In [1]:
# import the necessary libraries for EDA
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

%matplotlib inline

In [2]:
# import cleaned train dataset and assign to a dataframe
df_train = pd.read_csv('../datasets/train_cleaned.csv', index_col=0, low_memory=False)

# set max_rows and max_columns to enable readability
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
df_train.head(2)

,town,flat_type,resale_price,Tranc_Year,Tranc_Month,floor_area_sqft,hdb_age,max_floor_lvl,1room_sold,2room_sold,3room_sold,4room_sold,5room_sold,exec_sold,multigen_sold,studio_apartment_sold,Latitude,Longitude,Mall_Nearest_Distance,Hawker_Nearest_Distance,mrt_nearest_distance,bus_stop_nearest_distance,pri_sch_nearest_distance,sec_sch_nearest_dist
0,KALLANG/WHAMPOA,4 ROOM,680000.0,2016,5,968,15,25,0,0,0,96,46,0,0,0,1.314299,103.872828,1094.090418,154.753357,330.083069,29.427395,1138.633422,1138.633422
1,BISHAN,5 ROOM,665000.0,2012,7,1399,34,9,0,0,0,56,56,0,0,0,1.346086,103.855078,866.941448,640.151925,903.659703,58.207761,415.607357,447.894399

In [4]:
# create a new dataframe with only 'resale_price'
df_cal_mean = df_train[['resale_price']]

In [5]:
# compute mean and save to a variable
mean_value = df_cal_mean['resale_price'].mean()
mean_value

449161.50121307274

In [6]:
# import the test dataset to obtain 'id' values
df_test = pd.read_csv('../datasets/test.csv')

/var/folders/90/274n3kt55bl4fjg8t134196r0000gn/T/ipykernel_79870/4227706547.py:2: DtypeWarning: Columns (40) have mixed types. Specify dtype option on import or set low_memory=False.
  df_test = pd.read_csv('../datasets/test.csv')

In [7]:
df_test.head(2)

,id,Tranc_YearMonth,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,Tranc_Year,Tranc_Month,mid_storey,lower,upper,mid,full_flat_type,address,floor_area_sqft,hdb_age,max_floor_lvl,year_completed,residential,commercial,market_hawker,multistorey_carpark,precinct_pavilion,total_dwelling_units,1room_sold,2room_sold,3room_sold,4room_sold,5room_sold,exec_sold,multigen_sold,studio_apartment_sold,1room_rental,2room_rental,3room_rental,other_room_rental,postal,Latitude,Longitude,planning_area,Mall_Nearest_Distance,Mall_Within_500m,Mall_Within_1km,Mall_Within_2km,Hawker_Nearest_Distance,Hawker_Within_500m,Hawker_Within_1km,Hawker_Within_2km,hawker_food_stalls,hawker_market_stalls,mrt_nearest_distance,mrt_name,bus_interchange,mrt_interchange,mrt_latitude,mrt_longitude,bus_stop_nearest_distance,bus_stop_name,bus_stop_latitude,bus_stop_longitude,pri_sch_nearest_distance,pri_sch_name,vacancy,pri_sch_affiliation,pri_sch_latitude,pri_sch_longitude,sec_sch_nearest_dist,sec_sch_name,cutoff_point,affiliation,sec_sch_latitude,sec_sch_longitude
0,114982,2012-11,YISHUN,4 ROOM,173,YISHUN AVE 7,07 TO 09,84.0,Simplified,1987,2012,11,8,7,9,8,4 ROOM Simplified,"173, YISHUN AVE 7",904.176,34,12,1986,Y,Y,N,N,N,132,0,0,0,92,40,0,0,0,0,0,0,0,760173,1.437066,103.831121,Yishun,877.431572,NaN,2.0,4.0,687.576779,NaN,1.0,1.0,56,123,686.660434,Canberra,0,0,1.443077,103.829703,75.683952,Blk 174,1.437558,103.831591,426.467910,Ahmad Ibrahim Primary School,92,0,1.433681,103.832924,156.322353,Ahmad Ibrahim Secondary School,218,0,1.436235,103.829987
1,95653,2019-08,JURONG WEST,5 ROOM,986C,JURONG WEST ST 93,04 TO 06,112.0,Premium Apartment,2008,2019,8,5,4,6,5,5 ROOM Premium Apartment,"986C, JURONG WEST ST 93",1205.568,13,14,2002,Y,N,N,N,N,53,0,0,0,28,25,0,0,0,0,0,0,0,643986,1.336957,103.695668,Jurong West,534.037705,NaN,1.0,3.0,2122.346226,NaN,NaN,NaN,72,94,169.478175,Pioneer,0,0,1.337343,103.697143,88.993058,Blk 653B,1.336491,103.696319,439.756851,Jurong West Primary School,45,0,1.339244,103.698896,739.371688,Jurong West Secondary School,199,0,1.335256,103.702098

In [8]:
# extract 'id' values and assign to a new dataframe
df_kaggle_submit = df_test[['id']]

In [9]:
# check the number of rows within dataframe
df_kaggle_submit.shape

(16737, 1)

In [10]:
# add mean values to the dataframe with column name 'Predicted'
df_kaggle_submit['Predicted'] = mean_value

/var/folders/90/274n3kt55bl4fjg8t134196r0000gn/T/ipykernel_79870/4003625548.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_kaggle_submit['Predicted'] = mean_value

In [11]:
df_kaggle_submit.shape

(16737, 2)

In [12]:
# export for submission to kaggle
df_kaggle_submit.to_csv('../datasets/kaggle_baseline_submission.csv', index=False)

___

## Kaggle Baseline RMSE Score to Beat

![Kaggle Baseline RMSE Score to Beat](../images/Baseline_Submission_Score.png)